@import '../Variables';

.bracket_page {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
        display: block;
        margin-bottom: 2rem;
        font-family: $decorative-text;
    }
    .react-numeric-input {
        input {
            width: 60px;
        }
    }
    .bracket {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        .title {
            font-family: $decorative-text;
        }
        .bracket_node {
            padding: 20px;
        }
    }
}