@import '../Variables';

.navigation {
    margin-bottom: 2rem;
    button {
        text-decoration: none;
        border-radius: 8px;
        border-color: white;
        margin: 1rem;
        padding: 1rem;
        background-color: transparent;
        color: white;
        font-family: $decorative-text;
    }
}